<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuGit</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>Event Page</h1>
        <p>Documentation management made simple</p>
        
    </header>
        <div>
            <h2>Info</h2>
            <p>Get started by exploring your documentation projects.</p>
            <div>{{message}}</div>
        </div>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



<script src="../static/main.js"></script>
</html>